<div class="row justify-content-center">
    <div class="col-12 col-sm-5 text-center mt-4">
      <h3 class="head3 text-center">Add New Book</h3>
    </div>
  </div>
  
  <div class="row justify-content-center mt-1">
        <div class="col-12 col-sm-8">
          <label>ISBN</label>
          <input type="number" class="form-control" placeholder="Enter Isbn" [(ngModel)]="isbn" >
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Enter title" [(ngModel)]="bookName" >
          <label>Book Description</label>
          <input type="text" class="form-control" placeholder="Enter book description" [(ngModel)]="bookDesc" >
          <label>Author</label>
          <input type="text" class="form-control" placeholder="Enter author name" [(ngModel)]="authorName" >
          <label>Price</label>
          <input type="number" class="form-control" placeholder="Enter book price" [(ngModel)]="price" >
        </div>       
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-2 offset-1">
      <button type="button" class="btn btn-info mt-3" (click)="onAddBook()">
        Add Book
      </button>
    </div>
  </div>
  