<!DOCTYPE html>
<div class="row justify-content-center mt-4 mb-2">
    <div class="col-sm-5">
        <h1>Personal Details</h1>
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-sm-8">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
        <div class="form-Group">
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-8">
                    <label for="first-name">First Name: </label>
                        <input id="first-name" type="text" name="fName" class="form-control" formControlName="firstName" placeholder="Enter first name">
                    <div *ngIf="!profileForm.get('firstName').valid && profileForm.get('firstName').touched" class="help-block">First Name is required</div>                 
                </div>
            </div>
            <div class="form-Group">
                <div class="row justify-content-center mt-3">
                    <div class="col-12 col-sm-8">
                        <label for="last-name">Last Name: </label>
                    <input id="last-name" type="text" name="lName" class="form-control" formControlName="lastName" placeholder="Enter last name">
                        <div *ngIf="!profileForm.get('lastName').valid && profileForm.get('lastName').touched" class="help-block">Last Name is required</div>                           
                    </div>
                </div>
            </div>          
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-8">
                    <label for="phone">Phone Number:</label>
                    <input id="phone" type="number" name="pNumber" class="form-control" formControlName="phoneNumber" placeholder="Enter phone number">
                    <div *ngIf="!profileForm.get('phoneNumber').valid && profileForm.get('phoneNumber').touched" class="help-block">Phone Number is required</div>                   
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-8">
                    <label for="exampleInputEmail1">Email Address:</label>
                    <input id="email" type="email" name="email" class="form-control" formControlName="emailId" placeholder="Enter email address">
                    <div *ngIf="!profileForm.get('emailId').valid && profileForm.get('emailId').touched" class="help-block">Email Id is required</div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-8">
                    <label for="address">Residential Address:</label>
                    <textarea id="address" type="text" class="form-control" formControlName="Address" placeholder="Enter residential address"></textarea> 
                    <div *ngIf="!profileForm.get('Address').valid && profileForm.get('Address').touched" class="help-block">Address is required</div>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-8">
                    <label>Country</label>
                    <div title="Please select the country">
                        <select placeholder="Phantasyland" class="form-select" formControlName="Country" (change)="changeCountry($event)">
                            <option *ngFor ="let count of countryList" [value]="count.name" >{{count.name}} </option>
                        </select>
                    </div>

                    <label>City</label>
                    <div title="Please select the city">
                        <select placeholder="Anycity" class="form-select" formControlName="City">
                            <option *ngFor ="let city of cities">{{city}}  </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                <div class="col-12 col-sm-8">
                    <p align="right">
                        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!profileForm.valid">Next</button>
                    </p>                   
                </div>
            </div>
        </div>
    </form>

  </div>

</div>