<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 offset-sm-2"> 
      <div class="jumbotron mb-2 mt-2" ng-include="todo.component.ts" onload="Display()">
        <h2 class="text-center">TO DO LIST</h2>
    </div>
    <div class="input-group mb-2">
      <input type="text" class="form-control" placeholder="Enter the task to do.." #addTask [(ngModel)]="task">
      <button class="btn btn-primary"  (click)="Add()"><i class="fa fa-lg fa-plus-circle"></i> Add</button>
  </div>
      <h1>Student Status Form</h1>
      <label>Student Name</label>
      <input type="text" class="form-control" [(ngModel)]="studentName">
      <form>
        Student Status
        <select ng-model="myVar">
          <option value="">
          <option value="Active">Active
          <option value="Inactive">Inactive         
        </select>
      </form>
      
      <div ng-switch="myVar">
        <div ng-switch-when="Active">
           <h1>Active</h1>
           <p>The student is Active</p>
        </div>
        <div ng-switch-when="Inactive">
           <h1>Inactive</h1>
           <p>The student is Inactive</p>
        </div>
    </div>
  </div>
</div>