
<div class="jumbotron mb-2 mt-2" ng-include="app.component.ts" onload="Display()">
    <h2 class="text-center">Student Status Form</h2>
  </div>
<div class="input-group mb-2">
  <label>Student Name</label>
  <input type="text" class="form-control" placeholder="Enter name.." #addTask [(ngModel)]="name" >
  <div class="button">
    <button class="btn btn-primary btn-lg btn-block " (click)="Add()" > Add</button>
 </div> 

</div>  
<form #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
    <div>
       <input id="active" type="radio" class="custom-control-input" value="Active" name="status" ngModel required>
       <label class="custom-control-label" for="active">Active</label>
    </div>
 
    <div>
       <input id="inactive" type="radio" class="custom-control-input" value="Inactive" name="status" ngModel required>
       <label class="custom-control-label" for="inactive">Inactive</label>
    </div>
 
    <div *ngIf="isSubmitted && myForm.invalid">
       <p>Please select either value</p>
    </div>
    <div class="input-group mb-2">
        <div class="button">
          <button type="submit" class="btn btn-danger btn-lg btn-block ">Update</button>
       </div>  
      </div>
   
 </form>

